@import '../../../shared/color.scss';
@import '../../../shared/font.scss';
.breadcrumb{
    margin-top:20px;
}
.breadcrumb-item + .breadcrumb-item::before {
    content: var(--bs-breadcrumb-divider, " ");
}
 
.breadcrumb-item{
    color:black;
}
.primary{
    color:$primary;
}