<header class="header">
  <div class="header-left">
    <!-- Left icon -->
    <mat-icon>menu</mat-icon>
  </div>
  <div class="header-center">
    <!-- Navigation -->
    <nav>
      <a routerLink="/homepage/my-esg-commitments" routerLinkActive="active"
        >ESG Commitments</a
      >
      <a routerLink="/homepage/permissions" routerLinkActive="active"
        >Permissions</a
      >
      <a routerLink="/homepage/explore-more" routerLinkActive="active"
        >Explore More</a
      >
    </nav>
  </div>
  <div class="header-right">
    <!-- My account -->
    <a routerLink="/homepage/my-account">My account</a>
  </div>
</header>
