<ng-container>
	<div class="permission-container">
		<app-breadcrumb [breadcrumbItems]="permissionBreadcrumb"></app-breadcrumb>
		<div class="d-flex flex-direction-row align-items-center gap-5">
			<h1 class="permission-title">My Permissions</h1>
			<!-- Default switch -->
			<div class="custom-control custom-switch">
				<label class="mr3"><strong>Public</strong></label>
				<label class="switch">
					<input
						type="checkbox"
						(click)="toggleSwitch()"
						[(ngModel)]="isChecked"
					/>
					<span class="slider round"></span>
				</label>
			</div>
		</div>
		<h3 class="subtitle">
			Here you can set the visibility permissions for each and all the companies
			belonging to the Open* protocol. <br />
			If you want to give permission to everyone, just hit the “Public” toggle.
		</h3>
		<app-simple-searchbar></app-simple-searchbar>
	</div>
</ng-container>
