@import '../../../shared/color.scss';
@import '../../../shared/font.scss';
 
 .my-esg-container{
    padding: 0 40px;
 }
 .my-esg-title{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    margin:0;
 }