<div class="d-flex col-12 justify-content-center mt-5">
	<div class="card-container">
		<div class="card-detail-container">
			<div class="card-detail-title">
				<div class="card-title-wrapper">
					<div class="card-title-subwrapper">
						<h1 class="card-title">My ESG Identity Card</h1>
						<div class="custom-select">
							<select class="form-select custom-drop">
								<option
									*ngFor="let year of years"
									[value]="year"
									[selected]="year === currentYear"
								>
									{{ year }}
								</option>
							</select>
							<img
								class="drop-icon"
								src="../../../assets/dropdown-icon.svg"
								alt="dropdown icon"
							/>
						</div>
					</div>
					<a
						[ngClass]="{ disabled: isFirstLogin }"
						[routerLink]="isFirstLogin ? null : '/openstar'"
						class="complete-identity"
						[attr.aria-disabled]="isFirstLogin ? 'true' : 'false'"
						>View complete identity</a
					>
				</div>
			</div>
			<div class="card-content-container">
				<div class="d-flex w-100">
					<!-- already uploaded data for current year-->
					<div *ngIf="!isFirstLogin" class="card-generic-data">
						<img class="dashed-line" src="../../../assets/dashed-line.svg" />
						<span class="rounded-circle-top"></span>
						<span class="rounded-circle-bottom"></span>
						<h1 class="company-name">Acme</h1>
						<div class="protocol">
							Open-Star protocol registration: 15/02/2024
						</div>
						<div class="company-props">
							<span class="props-key">Company sectors:</span
							><span class="props-value">Trasporti</span>
						</div>
						<div class="company-props">
							<span class="props-key">Company size:</span
							><span class="props-value">Small</span>
						</div>
						<div class="company-props">
							<span class="props-key">P.IVA:</span
							><span class="props-value">67006641205</span>
						</div>
						<div class="company-props">
							<span class="props-key">Communities:</span
							><span class="props-value">Open-Star</span>
						</div>
						<div class="company-certifications">
							<div class="cert">
								<img
									class="cert-icon"
									src="../../../assets/certification-placeholder.svg"
								/><span class="cert-label">certified</span>
							</div>
							<div class="cert">
								<img
									class="cert-icon"
									src="../../../assets/certification-placeholder.svg"
								/><span class="cert-label">certified</span>
							</div>
							<div class="cert">
								<img
									class="cert-icon"
									src="../../../assets/certification-placeholder.svg"
								/><span class="cert-label">certified</span>
							</div>
						</div>
					</div>
					<!--First Login or no data for current year-->
					<div *ngIf="isFirstLogin" class="card-generic-data">
						<img class="dashed-line" src="../../../assets/dashed-line.svg" />
						<span class="rounded-circle-top"></span>
						<span class="rounded-circle-bottom"></span>
						<div class="new-card">
							<div class="card-title-new">
								Your ESG Identity for 2024 is empty
							</div>
							<div class="card-subtitle-new">
								Create a position for the current year by filling out the form
								(partially or completely). Alternatively upload the document
								with your data
							</div>
							<div
								class="d-flex flex-direction-row align-items-center mt-3 gap-3"
							>
								<button
									(click)="redirectToESGIdentity()"
									class="btn-new-survey"
								>
									Create ESG Identity
								</button>
								<span (click)="openUploadModal()"
									><a class="btn-upload-data">Upload data</a>
									<img src="../../../assets/upload-icon.svg" />
								</span>
							</div>
						</div>
					</div>
					<div class="card-visibility-container" *ngIf="!isFirstLogin">
						<div class="card-visibility">
							<div class="visibility-wrapper">
								<div class="visibility" [ngClass]="{ dark: !isPrivate }">
									<div class="visibility-btn-lock" *ngIf="isPrivate">
										<img src="../../../assets/locked-icon.svg" /> Private
										Visibility
									</div>
								</div>
								<div class="visibility-btn-unlock" *ngIf="!isPrivate">
									<img src="../../../assets/unlocked-icon.svg" /> Public
									Visibility
								</div>
								<div class="connections mt-2">52 connections</div>
							</div>

							<div class="visibility-wrapper">
								<div class="visibility-middle">
									<div>
										<strong>{{ currentYear }}</strong>
									</div>
									<div>Questionnaire completion:</div>
									<div class="big-number">
										<div class="percentage">
											55<span class="percent">%</span>
										</div>
									</div>
								</div>
							</div>
							<div class="visibility-wrapper">
								<div class="visibility-middle">
									<div class="lastupdate">Last Update: 20/02/2024</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
